<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

	<entry key="loginMember">
		SELECT USER_NO,
			   USER_ID,
			   USER_PWD,
			   NICKNAME,
			   INTEREST,
			   ENROLL_DATE,
			   USER_NAME,
			   GENDER,
			   EMAIL,
			   PHONE,
			   STATUS,
			   BLACKLIST,
			   SPECIALITY,
			   EXP_SUBMIT,
			   EXPERT
		FROM MEMBER
		WHERE USER_ID = ?
			AND USER_PWD = ?
			AND STATUS = 'Y'
	
	</entry>
	
	<entry key="insertMember">
		INSERT INTO MEMBER(USER_NO,
							USER_ID,
							USER_PWD,
							NICKNAME,
							INTEREST)
					VALUES(SEQ_UNO.NEXTVAL,
							?,
							?,
							?,
							?
					)
	</entry>
	
	<entry key="pwdFind">
		SELECT USER_ID
		FROM MEMBER
		WHERE USER_ID=?
	</entry>
	
	<entry key="idCheck">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_ID = ?
	</entry>
	
	<entry key="updateMember">
		UPDATE MEMBER
		SET NICKNAME = ?,
			INTEREST = ?,
			USER_NAME = ?,
			PHONE = ?,
			EMAIL = ?
		WHERE USER_ID = ?
	</entry>
	
	<entry key="selectMember">
		SELECT *
		FROM MEMBER
		WHERE USER_ID = ?
			AND STATUS = 'Y'
	</entry>
	
	<entry key="selectMemberByNo">
		SELECT *
		FROM MEMBER
		WHERE USER_NO = ?
			AND STATUS = 'Y'
	</entry>
	
	<entry key="nicknameCheck">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE NICKNAME = ?
	</entry>

	<entry key="expertSubmit">
		UPDATE MEMBER
		SET USER_NAME = ?,
			GENDER = ?,
			EMAIL = ?,
			PHONE = ?,
			SPECIALITY = ?,
			EXP_SUBMIT = ?
		WHERE USER_ID = ? AND STATUS = 'Y'
	</entry>
	
	<entry key="selectAttachment">
		SELECT FILE_NO,
			   ORIGIN_NAME,
			   CHANGE_NAME,
			   FILE_PATH
	   	FROM ATTACHMENT
	   	WHERE REF_NO = ? AND FILE_LEVEL = 5
	</entry>
	
	<entry key="selectSameAttachment">
		SELECT FILE_NO
	   	FROM ATTACHMENT
	   	WHERE REF_NO = ? AND FILE_LEVEL = 5
	</entry>
	
	<entry key="deleteAttachment">
		DELETE
	   	FROM ATTACHMENT
	   	WHERE REF_NO = ? AND FILE_LEVEL = 5
	</entry>
	
	<entry key="insertAttachment">
		INSERT INTO ATTACHMENT(FILE_NO, REF_NO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, FILE_LEVEL)
		VALUES(SEQ_FNO.NEXTVAL, ?, ?, ?, ?, 5)
	</entry>
	
	<!-- 멤버 전체 조회하는 쿼리문 -->
	<entry key="selectAllMember">
		SELECT USER_NO,
			   USER_ID,
			   USER_PWD,
			   NICKNAME,
			   INTEREST_NAME,
			   ENROLL_DATE,
			   USER_NAME,
			   GENDER,
			   EMAIL,
			   PHONE,
			   STATUS,
			   BLACKLIST,
               SPECIALITY,
			   EXP_SUBMIT,
			   EXPERT
		FROM MEMBER M
		LEFT JOIN INTEREST I ON (M.INTEREST = I.INTEREST_NO)
	</entry>
	
	<!-- 관리자가 전문가인 회원 정보변경 -->
	<entry key="userExUpdateByManager">
		UPDATE MEMBER
		SET USER_ID = ?,
			USER_PWD = ?,
			NICKNAME = ?,
			INTEREST = ?,
			USER_NAME = ?,
			GENDER = ?,
			EMAIL = ?,
			PHONE = ?,
			SPECIALITY = ?,
			EXPERT = ?
		WHERE USER_NO = ?
	</entry>
	
	<!-- 관리자가 일반 회원 정보변경 -->
	<entry key="userUpdateByManager">
		UPDATE MEMBER
		SET USER_ID = ?,
			USER_PWD = ?,
			NICKNAME = ?,
			INTEREST = ?,
			EXPERT = ?
		WHERE USER_NO = ?
	</entry>
	
</properties>