<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

	<entry key="loginMember">
		SELECT USER_NO,
			   USER_ID,
			   USER_PWD,
			   NICKNAME,
			   INTEREST,
			   ENROLL_DATE,
			   USER_NAME,
			   GENDER,
			   EMAIL,
			   PHONE,
			   STATUS,
			   BLACKLIST,
			   SPECIALITY,
			   EXPERT
		FROM MEMBER
		WHERE USER_ID = ?
			AND USER_PWD = ?
			AND STATUS = 'Y'
	
	</entry>
	
	<entry key="insertMember">
		INSERT INTO MEMBER(USER_NO,
							USER_ID,
							USER_PWD,
							NICKNAME,
							INTEREST)
					VALUES(SEQ_UNO.NEXTVAL,
							?,
							?,
							?,
							?
					)
	</entry>
	
	<entry key="pwdFind">
		SELECT USER_ID
		FROM MEMBER
		WHERE USER_ID=?
	</entry>
	
	
	
	<entry key="idCheck">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_ID = ?
	</entry>
	
	<entry key="updateMember">
		UPDATE MEMBER
		SET NICKNAME = ?,
			INTEREST = ?,
			USER_NAME = ?,
			PHONE = ?,
			EMAIL = ?
		WHERE USER_ID = ?
	</entry>
	
	<entry key="selectMember">
		SELECT *
		FROM MEMBER
		WHERE USER_ID = ?
			AND STATUS = 'Y'
	</entry>
</properties>