@charset "UTF-8";
/* 기본 설정*/
a {
    text-decoration: none;
}

li{
    list-style: none;
}
/*HEADER*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid #c8c8c8;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
}
/*Header-INNER*/
.header-inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    height: 100px;
}

/* header - MainMenu*/
.header-inner .main-menu{
    width: 66%;
    float: left;
    height: 100%;
    line-height: 50px;
}
.header-inner .main-menu ul li {
    float: left;
    margin-left: 3px;
    margin-right: 3px;
}
header .main-menu li a{
    font-weight: 700;

}

header .main-menu li a,.search {
    padding: 11px 16px;
    display: block;
    color: #727272;
}
/* header - MainMenu 의 검색기능*/
header .main-menu .search {
    position: relative;
    height: 34px;
}
header .main-menu .search input {
    width: 100px;
    height: 40px;
    padding: 6px 12px;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: rgba(184, 184, 184, 0.988);
    color: rgb(0, 0, 0);
    font-size: 12px;
    transition: width .4s;
}
header .main-menu .search input:focus {
    width: 260px;
    border-color: #eeab00;
    background-color: rgba(255, 255, 255, 0.988);
    color: black;
    height: 40px;
}

/* header - SubMenu*/
.header-inner .sub-menu{
    width: 33%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
header .sub-menu li a {
    display: block;
    color: #727272;
    padding-left: 10px;
    
}
.header-inner .sub-menu ul li {
    float: left;
    line-height: 100px;
    margin-left: 5px;
    margin-right: 5px;
}
header .sub-menu ul.menu li::before {
    content: " ";
    width: 1.5px;
    height: 14px;
    background-color: #d8d8d8;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

}

header .main-menu ul li a:hover, header .sub-menu ul li a:hover {
    color:  orange;

}