@charset "UTF-8";
.outer{
	margin-top : 100px;
	width : 100%;
	height : 1500px;	
}
.outer .slider-area{
	margin-left : auto;
	margin-right : auto;
	width : 1100px;
	height : 500px;
	background-color:grey;
	margin-bottom : 5px;
	border-radius : 20px;
}
/* 이미지 공간 */
.outer .slider-area img {
	width : 100%;
	height:500px;
	border-radius : 20px;
}

.imgContainer ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/************************
*** Auto Image Slider ***
************************/
#slider {
    width: 1100px;
    height: 500px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 8000px;
    height: 100%;
}

#slider .slide {
    float: left;
    width: 1100px;
    height: 500px;
}




/* 검색 공간 */
.search-area {
  background-color: orange;
  overflow: hidden;
  text-align:center;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100px;
   width: 62%;
   margin: auto;
   border-radius: 40px;
   box-shadow: 0px 1px 5px skyblue;

}
svg {
  width: 100%;
  height: 600px;
  visibility: hidden;
  overflow:visible;
  position:relative;
}
 
.search-area input{
  /* 이걸 어캐할까*/
  position:absolute;
  border:none;
  outline:none;
  height:34px;
  line-height:normal;  
  font-size:25px;
  width:210px;
  font-family:'Quicksand', sans-serif;
  font-weight:700;
  color:#FBEFF9;
  background:transparent;
  text-align:left;
}
 
.disabled{
  pointer-events:none;
}
#searchGroup, .close, #search, .hit{
  -webkit-tap-highlight-color:transparent;
}


/* 아이콘 카테고리 공간 */
.icon-area{
	height : 150px;
	width: 70%;
    margin: 15px auto auto auto;
}
.outer .icon-area .icon-container{
	position : relative;
	top : 10%;
	left : 10%;
	width : 80%;
	height : 120px;
	
}
.icon{
	float :left;
	margin-left: 25px;
}

.icon img:hover, .icon a:hover{
	width:90px;
	height:100px;
	text-decoration : none;
	color : orange;
}
.icon a{
	color : black;
	font-family: 'Nanum Gothic', sans-serif;
}



/* 관심분야 공간 */
.interest-area{
	height : 300px;
	width: 70%;
    margin: auto;
}

/* 커뮤니티 공간 */
.community-area{
	height : 300px;
	width: 70%;
    margin: auto;
}
.area1{
	width:40%;
	height : 80%;
	float : left;
	margin-left : 4rem;
}
.area2 {
	width:40%;
	height : 80%;
	float : right;
	margin-right : 4rem;
}

.community-area a{
	color : black;
	decoration : none;
}
.community-area a:hover{
	color : black;
	text-decoration:none
}
.community-main {
	margin : auto;
	width : 70%;
	height : 100%;
	decoration : none;
}
.headtext {
	font-weight : 700;
	font-size : 28px;
	width : 206px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-inline-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	font-family: 'Nanum Gothic', sans-serif;
}
.bodytext {
	width : 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-inline-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	font-family: 'Nanum Gothic', sans-serif;
}

.area1, .area2 {
	border-radius : 30px;
	box-shadow : 2px 2px skyblue;
}

.area1:hover, .area2:hover{
	background-color : lightgrey;
	box-shadow : 2px 2px orange;
	cursor : pointer;
}
.smalltext-nav {
	color : lightgrey;
	font-size : 12px;
}
