<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="insertChat">
		INSERT INTO CHATTING(CHAT_NO, CHAT_CONTENT, SENDER, RECEIVER, SELL_NO)
		VALUES(SEQ_CNO.NEXTVAL, ?, ?, ?, ?)
	</entry>
	
	<entry key="selectNoteList">
		SELECT *
		FROM (SELECT *
		        FROM CHATTING
		        WHERE (SENDER = ? AND RECEIVER = ?) OR (SENDER = ? AND RECEIVER = ?)
		        ORDER BY CHAT_NO DESC
		    )
		<![CDATA[WHERE ROWNUM <= 1]]>
	</entry>
	
	<entry key="selectNote">
		SELECT *
		FROM CHATTING
		WHERE SENDER = ? AND RECEIVER = ? AND SELL_NO = ?
	</entry>
	
	<entry key="selectAllReceiver">
		SELECT RECEIVER
		FROM CHATTING
	</entry>
	
	<entry key="selectAllSender">
		SELECT SENDER
		FROM CHATTING
	</entry>
	
	<entry key="selectChatDetail">
		SELECT *
		FROM CHATTING
		WHERE (SENDER = ? AND RECEIVER = ? AND SELL_NO = ?) OR (SENDER = ? AND RECEIVER = ? AND SELL_NO = ?)
	</entry>
</properties>