<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="insertChat">
		INSERT INTO CHATTING(CHAT_NO, CHAT_CONTENT, SENDER, RECEIVER, SELL_NO)
		VALUES(SEQ_CNO.NEXTVAL, ?, ?, ?, ?)
	</entry>
	
	<entry key="selectChatList">
		SELECT *
		FROM (SELECT *
		        FROM CHATTING
		        WHERE (SENDER = ? AND RECEIVER = ? AND SELL_NO = ?) OR (SENDER = ? AND RECEIVER = ? AND SELL_NO = ?)
		        ORDER BY CHAT_NO DESC
		    )
		<![CDATA[WHERE ROWNUM <= 1]]>
	</entry>
	
	<entry key="selectNote">
		SELECT *
		FROM CHATTING
		WHERE SENDER = ? AND RECEIVER = ? AND SELL_NO = ?
	</entry>
	
	<entry key="selectAllReceiver">
		SELECT RECEIVER
		FROM CHATTING
	</entry>
	
	<entry key="selectAllSender">
		SELECT SENDER
		FROM CHATTING
	</entry>
	
	<entry key="selectAllSellNo">
		SELECT SELL_NO
		FROM CHATTING
	</entry>
	
	<entry key="selectChatDetail">
		SELECT 
			CHAT_NO, 
			CHAT_CONTENT, 
			CHAT_DATE, 
			SENDER,
			RECEIVER, 
			SELL_NO
		FROM CHATTING
		WHERE (SENDER = ? AND RECEIVER = ? AND SELL_NO = ?) OR (SENDER = ? AND RECEIVER = ? AND SELL_NO = ?)
		ORDER BY CHAT_NO
	</entry>
	
	<entry key="selectChatDate">
		SELECT 
			CHAT_DATE 
		FROM CHATTING
		WHERE (SENDER = ? AND RECEIVER = ? AND SELL_NO = ?) OR (SENDER = ? AND RECEIVER = ? AND SELL_NO = ?)
		ORDER BY CHAT_NO
	</entry>
	<entry key="getProfile">
		SELECT FILE_NO,
			   ORIGIN_NAME,
			   CHANGE_NAME,
			   FILE_PATH
	   	FROM ATTACHMENT
	   	WHERE REF_NO = ? AND FILE_LEVEL = 5
	</entry>
</properties>