<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="insertReview">
		INSERT INTO REVIEW
		VALUES(SEQ_RENO.NEXTVAL, ?, ?, SYSDATE, ?, ?)
	</entry>
	
	<entry key="getReviewNo">
		SELECT REVIEW_NO
		FROM REVIEW
		WHERE USER_NO = ? AND SELL_NO = ?
	</entry>
	
	<entry key="updateTransaction">
		UPDATE TRANSACTION
		SET REVIEW_NO = ?
		WHERE USER_NO =? AND SELL_NO = ?
	</entry>
	
	<entry key="updateReview">
		UPDATE REVIEW
		SET REVIEW_CONTENT = ?,
			AVG = ?
		WHERE REVIEW_NO = ?
	</entry>
	
	<entry key="deleteReview">
		DELETE FROM REVIEW
		WHERE REVIEW_NO = ?
	</entry>
	
	<entry key="selectAllReview">
		SELECT REVIEW_NO,
				REVIEW_CONTENT,
				AVG,
				REVIEW_DATE,
				USER_NO,
				SELL_NO
		FROM REVIW
		JOIN MEMBER USING(USER_NO)
		JOIN SELL USING(SELL_NO)
				
	</entry>
	
</properties>