<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	
	<!-- 판매게시판 메인 리스트 조회와 페이징처리 -->
	<entry key="selectSellBoardList">
	SELECT *
	FROM (SELECT ROWNUM RNUM,
			A.*
			FROM  (SELECT  S.SELL_NO as SELL_NO,
					        S.SELL_TITLE as SELL_TITLE,
					        S.PRICE as PRICE,
					        S.SELL_RECOMMEND as SELL_RECOMMEND,
					        S.SELL_DATE as SELL_DATE,
					        S.INTEREST_NO AS INTEREST_NO,
					        S.LOCAL_NO AS LOCAL_NO,
					        M.NICKNAME AS NICKNAME,
					        FILE_PATH || CHANGE_NAME AS TITLEIMG,
					        USER_NO
					FROM SELL S
					JOIN MEMBER M USING (USER_NO)
					JOIN ATTACHMENT A ON (A.REF_NO = S.SELL_NO)
					WHERE S.STATUS = 'Y'
					$1
					$2
					ORDER BY SELL_DATE DESC) A
		  )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 조회수 -->
	<entry key="selectListCount">
		SELECT COUNT(*) SELL_COUNT
		FROM SELL
		WHERE STATUS = 'Y'
	</entry>
	
	<!-- 조회수 증가-->
	<entry key="increaseCount">
		UPDATE SELL
		SET SELL_COUNT = SELL_COUNT + 1
		WHERE SELL_NO = ?
			AND STATUS = 'Y'
	</entry>


	<entry key="selectInterestCategory">
		SELECT INTEREST_NO,
			   INTEREST_NAME
		  FROM INTEREST
	</entry>
	
	<entry key="selectLocalCategory">
		SELECT LOCAL_NO,
			   LOCAL_NAME
		  FROM LOCAL
	</entry>
	
	<!-- 판매글 선택 조회 -->
 	<entry key ="selectSellBoard"> 
		SELECT 	SELL_NO,
				SELL_TITLE,
				SELL_CONTENT,
				PRICE,
				SELL_RECOMMEND,
				SELL_DATE,
				INTEREST_NAME,
				LOCAL_NO,
				NICKNAME,
				SELL_DETAIL,
				SELL_REGULATION,
				USER_NO
		FROM SELL S
		JOIN MEMBER M USING (USER_NO)
		JOIN INTEREST I USING (INTEREST_NO)
		WHERE SELL_NO = ?
			AND S.STATUS = 'Y'
	</entry>
	
	<!-- 판매게시글 등록 -->
	<entry key="insertSellBoard">
		INSERT INTO SELL(SELL_NO, SELL_TITLE, SELL_CONTENT, PRICE, INTEREST_NO, LOCAL_NO, USER_NO, SELL_DETAIL, SELL_REGULATION)
		VALUES(SEQ_SNO.NEXTVAL, ?, ?, ?, ?, ?, ?, ?, ?)
	</entry>
	
	
	<!-- 파일 첨부 -->
	<entry key ="selectAttachment">
		SELECT FILE_NO,
				ORIGIN_NAME,
				CHANGE_NAME,
				FILE_PATH,
				FILE_LEVEL
		FROM ATTACHMENT
		WHERE REF_NO = ?
		ORDER BY FILE_LEVEL
	</entry>
		
	<!-- 파일 첨부 -->
	<entry key="insertAttachment">
		INSERT INTO ATTACHMENT(FILE_NO, REF_NO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, FILE_LEVEL)
		VALUES(SEQ_FNO.NEXTVAL, SEQ_SNO.CURRVAL, ?, ?, ?, 2)
	</entry>
	
	<entry key="insertNewAttachment">
		INSERT INTO ATTACHMENT(FILE_NO, REF_NO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, FILE_LEVEL)
		VALUES(SEQ_FNO.NEXTVAL, ?, ?, ?, ?, ? )
	</entry>
	
	<entry key="clickInterestCategory">
		SELECT INTEREST_NO,
			   INTEREST_NAME
		FROM INTEREST
		WHERE INTEREST_NO = ?
	</entry>
		
	<entry key="clickLocalCategory">
		SELECT LOCAL_NO,
			   LOCAL_NAME
		FROM LOCAL
		WHERE LOCAL_NO = ?
	</entry>
		
	<entry key="selectSearchSellBoardList">
	SELECT *
	FROM (SELECT ROWNUM RNUM,
			A.*
			FROM  (SELECT  S.SELL_NO as SELL_NO,
					        S.SELL_TITLE as SELL_TITLE,
					        S.PRICE as PRICE,
					        S.SELL_RECOMMEND as SELL_RECOMMEND,
					        S.SELL_DATE as SELL_DATE,
					        S.INTEREST_NO AS INTEREST_NO,
					        S.LOCAL_NO AS LOCAL_NO,
					        M.NICKNAME AS NICKNAME,
					        FILE_PATH || CHANGE_NAME AS TITLEIMG
					FROM SELL S
					JOIN MEMBER M USING (USER_NO)
					JOIN ATTACHMENT A ON (A.REF_NO = S.SELL_NO)
					WHERE S.STATUS = 'Y'
                        AND (SELL_TITLE LIKE ? OR NICKNAME LIKE ?)
					ORDER BY SELL_DATE DESC) A
		  )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 메인페이지에 보일 쿼리문 -->
	<entry key="selectAllList">
		SELECT SELL_NO,
			   SELL_TITLE,
			   SELL_CONTENT,
			   PRICE,
			   INTEREST_NO,
			   FILE_PATH || CHANGE_NAME TITLEIMG,
			   NICKNAME
		FROM SELL S
		JOIN MEMBER M USING (USER_NO)
		JOIN ATTACHMENT A ON (A.REF_NO = S.SELL_NO)
        ORDER BY SELL_DATE DESC
	</entry>
	
	<entry key="updateSellBoard">
		UPDATE SELL
		SET SELL_TITLE = ?,
			SELL_CONTENT = ?,
			PRICE = ?,
			INTEREST_NO = ?,
			LOCAL_N0 = ?,
			USER_NO = ?,
			SELL_DETAIL =?,
			SELL_REGULATION =?
		WHERE SELL_NO =?
	</entry>
	
	<entry key="updateAttachment">
		UPDATE ATTACHMENT
		SET ORIGIN_NAME = ? ,
			CHANGE_NAME = ? ,
			FILE_PATH = ? ,
			UPLOAD_DATE = SYSDATE
		WHERE FILE_NO = ?
	</entry>
	
	<entry key="deleteSellBoard">
		UPDATE SELL
		SET STATUS = 'N'
		WHERE SELL_NO = ?
	</entry>
	
	<entry key="deleteAttachment">
		UPDATE ATTACHMENT
		SET STATUS = 'N'
		WHERE REF_NO = ?
	</entry>
	
	<entry key="insertMyTransaction">
		INSERT INTO TRANSACTION(SELL_NO, USER_NO, REVIEW_NO)
        VALUES (?,?,?)
	
	</entry>
	
</properties>